body {
  text-align: center;
  background-image: url("./few_clouds.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
}

.container {
  background: white;
  opacity: 0.8;
  max-width: 800px;
  display: block;
  margin: 0 auto;
  padding: 30px 40px;
}

footer {
  margin-top: 40px;
}
