.App {
  text-align: center;
  background: lightskyblue;
  padding: 50px;
}

.container {
  background: white;
  opacity: 0.8;
  max-width: 80%;
  display: block;
  margin: 0 auto;
  padding: 30px 30px;
}

footer {
  margin-top: 40px;
}
