.Results {
  text-align: left;
}

.Results h2 {
  margin: 40px 0px 25px;
}

.Results .description:first-letter {
  text-transform: capitalize;
}

.Results .temperature {
  font-size: 50px;
}
.Results .unit {
  position: relative;
  top: -16px;
}

.Results .Weather-summary {
  margin-top: 15px;
}

@media (max-width: 600px) {
  .Results .temperature {
    font-size: 36px;
  }
}
