.Search form {
  display: block;
  font-size: 18px;
  margin-top: 20px;
}

.Search input,
button {
  margin: 10px 2px;
}
.Search button {
  background-color: #dee2e5;
}
@media (max-width: 410px) {
  .Search input {
    max-width: 150px;
  }
  .Search form {
    font-size: 12px;
  }
}
